* {
    margin: 0;
    padding: 0;
}

.curtain-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
}

.left-curtain, .right-curtain {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 50%;
    background-color: rgba(240, 240, 240, 0.9);
    animation: pullCurtain 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

.left-curtain {
    left: 0;
    transform-origin: left center;
}

.right-curtain {
    right: 0;
    transform-origin: right center;
}

@keyframes pullCurtain {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

.background{
    background-image: url(../img/bg.png);
    min-height: 100vh;
    background-size: cover;
}

.top{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 144, 172, 0.75);
    margin-bottom: 25px;
}

.Time{
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
}

.Time-Contents{
    background-color: rgba(241, 241, 241, 0.8);
    width: 350px;
    height: 25px;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

#txt{
    font-weight: bold;
}

.Top-Contents{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.Navigation{
    text-align: center;
    display: flex;
    gap: 50px;
}

#span1{
    font-size:large;
    margin-right:50px;
    font-weight: bold;
}

#span2{
    margin-left: 100px;
    margin-right:50px;
}

#span3{
    margin-right: 50px;
}

#span4{
    margin-right:50px;
}

.body {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
}

.a2{
    text-decoration: none;
    color: black;
}

.a2:hover{
    background-color: hsla(160, 100%, 37%, 0.564);
    transition: 0.4s;
}

.Login-Contents{
    background-color: rgba(241, 241, 241, 0.8);
    width: 350px;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.Login-Text{
    text-align: center;
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;
}

.footer{
    background-color: rgba(255, 255, 255, 0.75);
    color:black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Login-submit {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}


.Login-Button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #4c70af;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Login-Button:hover {
    background-color: #6596ea;
    transform: scale(1.03);
}

.username,.password{
    height: 25px;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

p{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}